span.download_video {
    position: absolute;
    bottom: 2px;
    left: 2px;
    z-index: 10;
    font-size: 18px;
    padding: 2px 4px;
    border-radius: 2px;
    color: #fff;
    background-color: rgba(255, 87, 24, 0.5);
    transition: all 0.3s ease-in-out;
}
span.download_video:hover {
    background-color: rgba(255, 87, 24, 0.8);
}

.ckin__player span.download_video {
    top: 2px;
    bottom: auto;
}